.accordion-container {
  max-width: 700px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

.responsive-chart {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .responsive-chart {
    max-width: 75%;
    height: auto;
  }
}

@media (min-width: 495px) {
  .responsive-chart {
    max-width: 40%;
  }
}
